In [1]:
%reload_ext typedb_jupyter

In [2]:
%typedb connect open core 127.0.0.1:1729 admin password

Opened connection to: 127.0.0.1:1729

In [3]:
%typedb database recreate typedb_jupyter_graphs

Recreated database  typedb_jupyter_graphs

In [4]:
%typedb transaction open typedb_jupyter_graphs schema

Opened schema transaction on database 'typedb_jupyter_graphs'

In [5]:
%%typeql

define 
attribute name, value string;
entity person, owns name @card(0..);

Query completed successfully! (No results to show)

'Stored result in variable: _typeql_result'

In [6]:
%typedb transaction commit

Transaction committed

In [7]:
%typedb transaction open typedb_jupyter_graphs write

Opened write transaction on database 'typedb_jupyter_graphs'

In [8]:
%%typeql

insert 
$p isa person, has name "John";
$p1 isa person, has name "James";
$p2 isa person, has name "James", has name "Jimmy";

Query returned 1 rows.

'Stored result in variable: _typeql_result'

In [9]:
%typedb transaction commit

Transaction committed

In [10]:
%typedb transaction open typedb_jupyter_graphs read

Opened read transaction on database 'typedb_jupyter_graphs'

In [11]:
%%typeql
match $p isa person, has name $n;

Query returned 4 rows.

'Stored result in variable: _typeql_result'

In [12]:
%typedb transaction close

Transaction closed

In [13]:
from typedb_jupyter.utils.parser import TypeQLVisitor

parsed = TypeQLVisitor.parse_and_visit("match $p isa person, has name $n;")
print(str(parsed))

Match(IsaType(p, person), Has(p, n), IsaType(n, name))

In [14]:
from typedb_jupyter.graph.query import QueryGraph
from typedb_jupyter.graph.answer import AnswerGraphBuilder

query_graph = QueryGraph(parsed)
answer_graph = AnswerGraphBuilder.build(query_graph, _typeql_result)

In [15]:
str("\n".join(map(str,answer_graph.edges)))

'HasEdge(Entity(person: 0x1e00000000000000000000)--has-->Attribute(name: "John"))\nHasEdge(Entity(person: 0x1e00000000000000000001)--has-->Attribute(name: "James"))\nHasEdge(Entity(person: 0x1e00000000000000000002)--has-->Attribute(name: "James"))\nHasEdge(Entity(person: 0x1e00000000000000000002)--has-->Attribute(name: "Jimmy"))'