In [1]:
%reload_ext typedb_jupyter

In [2]:
%typedb help

Available commands: connect, database, transaction, help
TODO: Print subcommand help

In [4]:
%typedb connect open core 127.0.0.1:1729 admin password

Opened connection to: 127.0.0.1:1729

In [5]:
%typedb database create test_jupyter

Created database  test_jupyter

In [6]:
%typedb database list

Databases:  moo, test_jupyter, jupyter-test, typedb-iam

In [7]:
%typedb database delete test_jupyter

Deleted database  test_jupyter

In [8]:
%typedb database list

Databases:  moo, jupyter-test, typedb-iam

In [9]:
%typedb database recreate test_jupyter

Recreated database  test_jupyter

In [10]:
%typedb database list

Databases:  moo, test_jupyter, jupyter-test, typedb-iam

In [11]:
# This is not implemented yet: %typedb database schema test_jupyter

In [12]:
%typedb database recreate test_jupyter

Recreated database  test_jupyter

In [13]:
%typedb transaction open test_jupyter schema

Opened schema transaction on database 'test_jupyter'

In [14]:
%%typeql 
define
    attribute name, value string;
    entity person, owns name;

Query completed successfully! (No results to show)

In [15]:
%typedb transaction commit

Transaction committed

In [16]:
%typedb transaction open test_jupyter read

Opened read transaction on database 'test_jupyter'

In [17]:
%%typeql 
match $owner_type owns $attribute_type;

TODO: Print rows

[|  $attribute_type: AttributeType(name)  |  $owner_type: EntityType(person)  |]

In [18]:
%%typeql -o typeql 
insert $p isa person, has name "James";

UsageError: unrecognized arguments: -o typeql

In [7]:
%%typeql -o typeql
match $p has $a; get;

Connection: test_1 (jupyter-test@127.0.0.1:1729)
Session: data
Transaction: read
Query: match
Inference: off

'$a_1 isa name;\n$a_1 "James";\n$p_1 isa person;\n$p_1 has $a_1;\n$p_2 isa person;\n$p_2 has $a_1;\n$p_3 isa person;\n$p_3 has $a_1;'

In [4]:
%%typeql -r myvar
match $p has $a; get;

Connection: test_1 (jupyter-test@127.0.0.1:1729)
Session: data
Transaction: read
Query: match
Inference: off
Returning data to local variable: 'myvar'

In [5]:
myvar[0]

'ConceptMap { map: {"p": Entity(Entity { iid: ID[0x826e80018000000000000000], type_: EntityType { label: "person", is_root: false, is_abstract: false }, is_inferred: false }), "a": Attribute(Attribute { iid: ID[0x836f80012800054a616d6573], type_: AttributeType { label: "name", is_root: false, is_abstract: false, value_type: String }, value: String("James"), is_inferred: false })}, explainables: Explainables { relations: {}, attributes: {}, ownerships: {} } }'